numpy>=1.26
pandas>=2.0
scipy>=1.11
matplotlib>=3.8
obspy>=1.4.2
pyproj>=3.6
requests>=2.31
tqdm>=4.66
pyrocko>=2026.6.2
contextily>=1.5
xyzservices>=2024.4
plotly>=5.20
nbformat>=5.9
jupyterlab>=4.0
